@import "/css/normalize.css";

:root {
    /*Primary colors*/
    --color-dark-cyan: hsl(184, 100%, 22%);
    --color-orange: hsl(31, 77%, 52%);
    --color-very-dark-cyan: hsl(179, 100%, 13%);

    /*Neutral colors*/
    --color-transparent: hsla(0, 0%, 100%, 0.75); /*Paragraphs*/
    --color-light-gray: hsl(0, 0%, 95%); /*Background, headings, buttons*/
}

/*Making calculations easier with rem*/

html {
    font-size: 62.5%;
}

/*CSS reset*/

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    padding: 0;
}

/*Removing the blue highlight of button on mobile*/
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

/*Typography*/

/*
CSS rules to specify families

font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif;
*/

body {
    font-size: 1.5rem;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    color: var(--color-transparent);
    line-height: 1.66;
}

h2 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 4rem;
    color: var(--color-light-gray);
}
