@import "/css/normalize.css";

:root {
    /*Primary colors*/
    --color-dark-cyan: hsl(184, 100%, 22%);
    --color-orange: hsl(31, 77%, 52%);
    --color-very-dark-cyan: hsl(179, 100%, 13%);

    /*Neutral colors*/
    --color-light-gray: hsl(0, 0%, 95%); /*Background, headings, buttons*/
    --color-transparent: hsla(0, 0%, 100%, 0.75); /*Paragraphs*/
}

/*Making calculations easier with rem*/

html {
    font-size: 62.5%;
}

/*CSS reset*/

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    padding: 0;
}

/*Removing the blue highlight of button on mobile*/
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

/*Typography*/

/*
CSS rules to specify families

font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif;
*/

body {
    color: var(--color-transparent);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.66;
}

h2 {
    color: var(--color-light-gray);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
}

/*Links*/

.link {
    background-color: var(--color-light-gray);
    border-radius: 25px;
    border: 2px solid var(--color-light-gray);
    display: inline-block;
    padding: 0.9rem 2.95rem 1rem 2.95rem;
    text-decoration: none;
    transition: all 500ms;
}

.link:hover, 
.link:focus {
    background-color: transparent;
    color: var(--color-light-gray);
}

.link--orange {
    color: var(--color-orange);
}

.link--dark-cyan {
    color: var(--color-dark-cyan);
}

.link--very-dark-cyan {
    color: var(--color-very-dark-cyan);
}

/*cards*/

.card {
    border-radius: 7px;
    padding: 4.8rem;
    max-width: 327px;
}

.card--orange {
    background-color: var(--color-orange);
}

.card--dark-cyan {
    background-color: var(--color-dark-cyan);
}

.card--very-dark-cyan {
    background-color: var(--color-very-dark-cyan);
}

.card__icon {
    width: 64px;
    height: 40px;
}

.card__heading {
    margin-top: 1rem;
    text-transform: uppercase;
}

.card__link {
    margin-top: 1rem;
}